DELETE FROM [BDCommerce].[dbo].[tblTerceros]
DELETE FROM [BDCommerce].[dbo].[tblDctos] 
DELETE FROM [BDCommerce].[dbo].[tblDctosOrdenesDetalle] 

INSERT INTO [BDCommerce].[dbo].[tblDctosOrdenesDetalle]
           ([IDLOCAL]
           ,[IDTIPOORDEN]
           ,[IDORDEN]
           ,[IDPLU]
           ,[CANTIDAD]
           ,[IDTIPO]
           ,[PORCENTAJEIVA]
           ,[VRVENTAUNITARIO]
           ,[ESTADO]
           ,[NOMBREPLU]
           ,[VRVENTAORIGINAL]
           ,[VRCOSTO]
           ,[PORCENTAJEDSCTO])
  SELECT [IDLOCAL]	AS idLocal,
         [TIPOORDEN]	AS idTipoOrden,  
         [ORDEN] 	AS idOrden,
         [CODIGO]	AS idPlu,
         [CANTIDAD]	AS cantidad,
         1,
         [IVA]		AS PORCENTAJEIVA,    
         [VALOR]	AS VRVENTAUNITARIO,         
         1,
         [DESC]		AS NOMBREPLU,
         [ORGVTA]	AS VRVENTAORIGINAL,   
         [COSTO]	AS VRCOSTO,
         [ALTURA]       AS PORCENTAJEDSCTO        
  FROM [BDCommerce].[dbo].[det_ord]    

INSERT INTO [BDCommerce].[dbo].[tblDctos]
           ([IDLOCAL]
           ,[IDTIPOORDEN]
           ,[IDORDEN]
           ,[idDcto]
           ,[indicador]
           ,[idCliente]
           ,[fechaDcto]
           ,[vrBase]
           ,[vrPago]
           ,[idEstado]
           ,[vrIva]
           ,[idTipoNegocio]
           ,[vrRteFuente]
           ,[vrDescuento]
           ,[vrRteIva]
           ,[nombreTercero]
           ,[IDUSUARIO]
           ,[diasPlazo]
           ,[descuentoComercial]
           ,[idViaje]
           ,[idDctoNitCC]
           ,[fechaDctoNitCC]
           ,[vrPagarDctoNitCC]
           ,[vrDsctoFcro]
           ,[vrCostoMV]
           ,[idLocalCruce]
           ,[idTipoOrdenCruce]
           ,[idOrdenCruce]
           ,[idPeriodo])
  SELECT cxc.IDLOCAL		AS idLocal,
         cxc.TIPOORDEN  	AS idTipoOrden,
         cxc.ORDEN 		    AS idOrden,          
         cxc.FACTURA  		AS idDcto,
         cxc.INDICADOR 		AS indicador,
         LTRIM(RTRIM(STR(cxc.HCION,20))) AS idCliente,
         cxc.FECHA  		AS fechaDcto,
         cxc.VALOR 		    AS vrBase,
         cxc.PAGOS  		AS vrPago,         
         cxc.ESTADO  		AS idEstado,
         cxc.IVA  		    AS vrIva,
         cxc.LIVA  		    AS idTipoNegocio,
         cxc.VRRF  	    	AS vrRteFuente,
         cxc.DSCTO  		AS vrDescuento,
         cxc.RTEIVA  		AS vrRteIva,         
         cxc.TERCERO  		AS nombreTercero,
         cxc.VENDOR  		AS idUsuario,
         cxc.PLAZO  		AS diasPlazo,         
         cxc.PORDSCTO  		AS descuentoComercial,
         cxc.IDVIAJE  		AS idViaje, 
         cxc.DOCFRASTR  	AS idDctoNitCC,         
         cxc.FECFRA  		AS fechaDctoNitCC,
         cxc.VRFRAPAG  		AS vrPagarDctoNitCC,
         cxc.DSCTOFCRO  	AS vrDsctoFcro,
         cxc.IDLOCALCLI  	AS idLocalCruce,
         cxc.TIPORCRUCE		AS idTipoOrdenCruce,         
         cxc.DOCCRUCE  		AS idOrdenCruce,
         cxc.COSTOMV  		AS vrCostoMV,
         000000
FROM cxc 
WHERE cxc.ORDEN>0
GROUP BY cxc.IDLOCAL		,
         cxc.TIPOORDEN  	,
         cxc.ORDEN 		    ,
         cxc.FACTURA  		,
         cxc.INDICADOR 		,
         LTRIM(RTRIM(STR(cxc.HCION,20))),
         cxc.FECHA  		,
         cxc.VALOR 		    ,
         cxc.PAGOS  		,
         cxc.ESTADO  		,
         cxc.IVA  		    ,
         cxc.LIVA  		    ,
         cxc.VRRF  	    	,
         cxc.DSCTO  		,
         cxc.RTEIVA  		,
         cxc.TERCERO  		,
         cxc.VENDOR  		,
         cxc.PLAZO  		,
         cxc.PORDSCTO  		,
         cxc.IDVIAJE  		,
         cxc.DOCFRASTR  	,
         cxc.FECFRA  		,
         cxc.VRFRAPAG  		,
         cxc.DSCTOFCRO  	,
         cxc.IDLOCALCLI  	,
         cxc.TIPORCRUCE		,
         cxc.DOCCRUCE  		,
         cxc.COSTOMV  		

INSERT INTO [BDCommerce].[dbo].[tblTerceros]
           ([idCliente]
           ,[idTercero]
           ,[tipoIdTercero]
           ,[digitoVerificacion]
           ,[idTipoTercero]
           ,[idPersona]
           ,[idAutoRetenedor]
           ,[idRegimen]
           ,[nombreTercero]
           ,[direccionTercero]
           ,[idDptoCiudad]
           ,[telefonoFijo]
           ,[telefonoCelular]
           ,[telefonoFax]
           ,[email]
           ,[idFormaPago]
           ,[estado]
           ,[nombreEmpresa]
           ,[cupoCredito]
           ,[indicador]
           ,[ciudadTercero]
           ,contactoTercero            
           ,idListaPrecio
           ,idVendedor)
     SELECT STR([CODIGO],20),
            [CODIGO],
            [TIPOTCRO],
            [DIGITOVERI],
            1,
            [IDPERSONA],
            [IDAUTRET],
            [IDREGIMEN],
            RTRIM([NOMBRE]),
            RTRIM([DIRECCION]),
            [IDDANE],
            RTRIM([TELEFONO]),
            RTRIM([CELULAR]),
            RTRIM([TELEFONO]),
            RTRIM([EMAIL]),
            [PLAZO],
            [IDEDOCLI],
            [EMPRESA],
            [CUPOCRED],
            [INDICADOR] ,
            [CIUDAD],
            [CONTACTO],
            0,
            0
  FROM [BDCOMMERCE].[DBO].[CLIENTES]
  WHERE [CODIGO]>0
  --- Falta ruta


--- ingresa proveedores
INSERT INTO [BDCommerce].[dbo].[tblTerceros]
           ([idCliente]
           ,[idTercero]
           ,[tipoIdTercero]
           ,[digitoVerificacion]
           ,[idTipoTercero]
           ,[idPersona]
           ,[idAutoRetenedor]
           ,[idRegimen]
           ,[nombreTercero]
           ,[direccionTercero]
           ,[idDptoCiudad]
           ,[telefonoFijo]
           ,[telefonoCelular]
           ,[telefonoFax]
           ,[email]
           ,[idFormaPago]
           ,[estado]
           ,[nombreEmpresa]
           ,[cupoCredito]
           ,[indicador]
           ,[ciudadTercero],
           ,contactoTercero            
           ,idListaPrecio
           ,idVendedor)
     SELECT STR([NIT],20),
            [NIT],
            [TIPOTCRO],
            [DIGITOVERI],
            2,
            [IDPERSONA],
            [IDAUTRET],
            [IDREGIMEN],
            RTRIM([NOMBRE]),
            RTRIM([DIRECCION]),
            [IDDANE],
            RTRIM([TELEFONO]),
            RTRIM([CELULAR]),
            RTRIM([TELEFONO]),
            RTRIM([EMAIL]),
            30,
            1,
            RTRIM([NOMBRE]),
            0,
            [INDICADOR] ,
            [CIUDAD],
            [CONTACTO],
            0,
            0
  FROM [BDCOMMERCE].[DBO].[proveedo]
  WHERE [NIT]>0
  GROUP BY STR([NIT],20),
            [NIT],
            [TIPOTCRO],
            [DIGITOVERI],
            [IDPERSONA],
            [IDAUTRET],
            [IDREGIMEN],
            RTRIM([NOMBRE]),
            RTRIM([DIRECCION]),
            [IDDANE],
            RTRIM([TELEFONO]),
            RTRIM([CELULAR]),
            RTRIM([TELEFONO]),
            RTRIM([EMAIL]),
            RTRIM([NOMBRE]),
            [INDICADOR] ,
            [CIUDAD],
            [CONTACTO]
