body{      
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 11px;
    background: #F5F5F5;
}
.navbar {
    background: #69D2E7;
    height: 62px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100%; width: 100%;}

/* Set gray background color and 100% height */
.sidenav {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.embed-container {
    position: relative;
    padding-bottom: 46%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 5px;
    width: 100%;
    height: 100%;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}
.menu {
    background: #FA6900;
    color: #fff;
    font-weight: bold;
    position: relative;
    padding-bottom: 40.25%;
    height: 0;
    overflow: hidden;
    /*position: absolute;*/
    top:0;
    left: 5px;
    /*width: 100%;*/
    /*height: 100%;*/
}
.menu img {
    margin-top: 2rem;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 5px #999;
}
.nav-side-menu {
    overflow: auto;
}
.nav-side-menu .brand {
    line-height: 50px;
    display: block;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}
.nav-side-menu ul:not(collapsed) .arrow:before,
.nav-side-menu li:not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
    background: red;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #fff;
    /*background-color: #4f5b69;*/
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #fff;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #fff;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    /*background-color: #0C64AE;*/
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 25px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    color: #fff;
    background-color: #A7DBD8;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    /*content: "\f105";*/
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}